* {
    box-sizing: border-box;
}

/* taking off all link active, hover, visited bootstrap pre set styling */
a:active {
    color: #777777; 
}

a:hover {
    color: #777777; 
}

a:visited {
    color: #777777; 
}

/* main bio photo */
.aboutme {
    width: 100%;
}


/* gallery box */
.baker {
    background-image: url(../images/baker.jpg);
    background-size: cover;
    height: 250px;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-image: url(../images/folk-pattern.png);
}

/* submit on contact page styling */
button {
    background-color: #4aaaa5;
    border: none;
    padding: 5px 20px;
    color: white;
}


/* styling to the teal name box */
.col-sm-6>.navbar-brand {
    background-color: #4aaaa5;
    padding: 20px 20px 20px 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

/* removing bootstrap preset hover styling */
.col-sm-6>.navbar-brand:hover{
    color: white;
}

/* gallery box */
.colchuck {
    background-image: url(../images/colchuck.jpg);
    background-size: cover;
    height: 250px;
}


/* spacing the nav row */
.container>.row {
    display: block;
}


/* main content box  */
 .contactMain, .indexMain, .portfolioMain  {
    background: white;
    max-width: 700px;
    height: fit-content;
    margin-top: 40px;
    padding: 0 15px 0 15px;
    border: 2px solid #dddddd;
}

/* Footer styling  */
.footer {
    width: 100%; 
    height: 60px;
    line-height: 60px;
    bottom: 0;
    margin-top: 50px;/* spacing content/footer */
    border-top: 8px solid #4aaaa5;    
    background-color: #777777;
}

/*  text in footer */
.footer>p {
    text-align: center;
    color: white;
    background-color: #777777;
    font-size: 12px;
    margin: 0;
}

/* spacing the form a bit away from main content border */ 
form {
    padding: 15px;
}

/* headers in all the main content boxes */
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    border-bottom: 2px solid #dddddd;
    padding: 10px;
}

/* gallery box */
.helen {
    background-image: url(../images/helen.JPG);
    background-size: cover;
    height: 250px;
}

/* borders to the about and portfolio rights to create the bar seperation */
li:nth-child(1), li:nth-child(2) {
    border-right: 1px solid #dddddd;
}

/* height is 100% minus my nav & footer to keep my footer below content*/
.main {
    height: calc(100%-124px);
}

/* nav bar styling */
.navbar{
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #dddddd;
    background-color: white;
    width: 100%;
}

/* adding spacing to each row so background images dont touch*/
.portfolioMain>.row {
    margin: 10px
}

/* gallery box */
.rainier {
    background-image: url(../images/rainier.JPG);
    background-size: cover;
    height: 250px;
}

/* text on the gallery images */
.rainier>a, 
.shasta>a,
.helen>a,
.colchuck>a,
.baker>a {
    display: inline-block;
    width: 100%;
    background-color: #4aaaa5;
    padding: 12px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 20px;
    position: relative;
    top: 180px;
}

/* removing on hover for the image links */
.rainier>a:hover,
.shasta>a:hover,
.helen>a:hover,
.colchuck>a:hover,
.baker>a:hover {
    text-decoration: none;
}

/* gallery box */
.shasta {
    background-image: url(../images/shasta.jpg);
    background-size: cover;
    height: 250px;
}

/* about,portfolio, contact links styling*/
ul {
    display: flex; /* display & justify are great for the media changes */
    justify-content: center;
    color: #777777; 
    font-size: 14px;
}

@media screen and (max-width:640px) {
    .col-sm-6>.navbar-brand {
        width: 100%;
        text-align: center;
    }
    .navbar>.col-sm-6 {
        padding: 0;
    }
}

/* adding spacing between the rows when they go center on small devices otherwise they just sit ontop eachother */
@media screen and (max-width:640px){
    .shasta, .helen {
        margin-bottom: 10px;
    }
}




